
@{
    ViewBag.Title = "Index";
}

<h2>Car Rental Service</h2>
<hr />
<p>Welcome! We are Car Rental Service. Founded since now, and our service is to rent you a car.</p>
<p>Please start with Browse to start browsing through our cars you can rent!</p>